@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #0d1523;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/*========== common classes =========*/

.button-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 10px;
}

.grid-button {
  background: transparent;
  color: white;
  border: 1px solid #099fe8;
  border-radius: 16px;
  padding: 7px;
}

.flex {
  display: flex;
}

.container-width {
  max-width: 1200px;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 30px;
}

.emoji {
  font-size: 1.3em;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #0d1523;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#00c9ff, #92fe9d);
  border-radius: 10px;
}

/* App.js */
.container {
  display: flex;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  body {
    max-width: 600px;
  }
}
